@charset "UTF-8";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: “SF Pro Text”, -apple-system, BlinkMacSystemFont, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

img {
  display: block;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
  background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
  background-size: cover;
  width: 100%;
  color: #fff;
  height: 419px;
  position: relative;
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 90px;
}

.header .title h1 {
  font-size: 34px;
}

.header .title_girl {
  position: relative;
  z-index: 99;
}

.header img {
  position: absolute;
  right: 17px;
  top: 120px;
}

.header .graph_free {
  top: 185px;
  -webkit-animation: free 2.1s linear forwards;
          animation: free 2.1s linear forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  z-index: 66;
}

.header .graph_red {
  right: 30px;
  top: 210px;
  -webkit-animation: free 2s linear forwards;
          animation: free 2s linear forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  z-index: 66;
}

.header .graph_pro {
  top: 275px;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  z-index: 66;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .graph_pro.show {
  opacity: 1;
}

.header .bounce {
  -webkit-animation: pro 2.2s linear forwards;
          animation: pro 2.2s linear forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header .graph_green {
  right: 30px;
  top: 300px;
  -webkit-animation: free 2.1s linear forwards;
          animation: free 2.1s linear forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  z-index: 66;
}

.header .graph_shine {
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.1990740741)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1990740741) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1990740741) 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  position: absolute;
  top: 157px;
  width: 200px;
  height: 181px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation: shine 5s linear forwards;
          animation: shine 5s linear forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 1;
}

@-webkit-keyframes shine {
  0% {
    left: -100%;
  }

  80% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  80% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes free {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes free {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.header .graph {
  margin: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 181px;
  top: 157px;
  background: -webkit-gradient(linear, left top, right top, from(#4d46b1), color-stop(#4e44ae), color-stop(#5042ab), color-stop(#5141a8), color-stop(#523fa5), color-stop(#523fa5), color-stop(#523fa5), color-stop(#523fa5), color-stop(#5141a8), color-stop(#5042ab), color-stop(#4e44ae), to(#4d46b1));
  background: -o-linear-gradient(left, #4d46b1, #4e44ae, #5042ab, #5141a8, #523fa5, #523fa5, #523fa5, #523fa5, #5141a8, #5042ab, #4e44ae, #4d46b1);
  background: linear-gradient(to right, #4d46b1, #4e44ae, #5042ab, #5141a8, #523fa5, #523fa5, #523fa5, #523fa5, #5141a8, #5042ab, #4e44ae, #4d46b1);
  background-size: cover;
}

.header .graph img {
  position: absolute;
  top: 0;
  left: 0;
}

.header .graph .graph_line {
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.1365740741)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1365740741) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1365740741) 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  width: 100%;
  height: 2px;
  z-index: 33;
}

.header .graph p {
  margin-left: 20px;
  font-size: 12px;
  line-height: 14px;
  z-index: 33;
}

.header .graph .path_line {
  position: absolute;
  top: 0;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: draw 2s linear forwards;
          animation: draw 2s linear forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  z-index: 33;
}

@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

.slider {
  position: absolute;
  top: 360px;
  width: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
}

.slider .slider_item {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  color: #1A1A1A;
  background: #F3F2F9;
  width: 345px;
  height: 135px;
  border-radius: 10px;
}

.slider .slider_item .slider_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 18px;
}

.slider .slider_item .slider_top small {
  opacity: 0.5;
}

.slider .slider_item .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 121px;
  height: 21px;
}

.slider .slider_item p {
  font-size: 15px;
  line-height: 18px;
}

.month {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 530px;
  border-radius: 10px;
  width: 335px;
  height: 156px;
}

.month .month_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5px;
  width: 105px;
  height: 131px;
  border-radius: 10px;
  background: #F3F2F9;
  position: relative;
}

.month .month_item.active {
  background: -webkit-gradient(linear, left top, right top, from(#4d46b1), color-stop(#4e44ae), color-stop(#5042ab), color-stop(#5141a8), color-stop(#523fa5), color-stop(#523fa5), color-stop(#523fa5), color-stop(#523fa5), color-stop(#5141a8), color-stop(#5042ab), color-stop(#4e44ae), to(#4d46b1));
  background: -o-linear-gradient(left, #4d46b1, #4e44ae, #5042ab, #5141a8, #523fa5, #523fa5, #523fa5, #523fa5, #5141a8, #5042ab, #4e44ae, #4d46b1);
  background: linear-gradient(to right, #4d46b1, #4e44ae, #5042ab, #5141a8, #523fa5, #523fa5, #523fa5, #523fa5, #5141a8, #5042ab, #4e44ae, #4d46b1);
  color: #fff;
}

.month .month_item.with_discount {
  border-radius: 0 0 10px 10px;
}

.month .month_item .month_top {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.month .month_item .month_top .month_num {
  font-size: 24px;
  line-height: 28px;
}

.month .month_item .month_top span {
  line-height: 15px;
  display: block;
}

.month .month_item p {
  margin: 3px auto;
  width: 50px;
  font-size: 13px;
  line-height: 15px;
}

.month .month_item .month_p {
  width: 80px;
}

.month .month_item .discount {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  background: #FCBF59;
  position: absolute;
  width: 100%;
  height: 25px;
  left: 0;
  top: -25px;
  border-radius: 10px 10px 0 0;
  color: #1A1A1A;
}

.month .month_item .sale {
  font-size: 9px;
  font-weight: bold;
  background: #FCBF59;
  position: absolute;
  width: 100%;
  height: 16px;
  left: 0;
  top: 115px;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1A1A1A;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 690px;
}

.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  width: 335px;
  height: 50px;
  background: -o-linear-gradient(225deg, #542285 0%, #222266 100%);
  background: linear-gradient(225deg, #542285 0%, #222266 100%);
  color: #fff;
  border-radius: 5px;
  font-size: 22px;
  line-height: 28px;
  border: none;
}

.footer small {
  font-size: 11px;
  line-height: 15px;
  opacity: 0.5;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}